{{back-navigation}}
<h2 id='title'>Readiness Checklist</h2>
<h4>These tasks must be completed before the car is ready for its next Zipcar
trip. Please check off all items as they are completed. Thanks!</h4>
<ul class="list-unstyled">
<li>{{input type="checkbox"
            checked=checklist.damage_checked}} Damage check</li>
<li>{{input type="checkbox"
            checked=checklist.cleaned}} Cleaned</li>
<li>{{input type="checkbox"
            checked=checklist.gas_checked}} Full gas</li>
<li>{{input type="checkbox"
            checked=checklist.upkitted}} Upkitted</li>
            <li>{{input type="checkbox"
            checked=checklist.parked_on_the_line}} Parked On The Line</li>

</ul>

{{#if checklist.readyToToggle}}
  <button class="btn btn-lg btn-primary btn-block" {{action sendToZipcar}}>Send Vehicle to Zipcar Fleet</button>
{{/if}}
{{outlet}}

