
<h1>W 76 St btwn Broadway &amp; Amsterdam Ave</h1>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h3>Upcoming Reservations</h3>
      </div>
    </div>
          <div class="row">
            <div class="col-md-1">
              <h4>30 Min.</h4>
            </div>
            <div class="col-md-11">
              {{#each reservation in reservationsNext30Min}}
              <div class="row">
                <div class="col-md-12">
                  <div class="well reservation">
                    <h4>{{reservation.name}}</h4>
                    Pick up: {{reservation.formattedStartTime}}
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="thick-line"/>
      </div>
    </div>
          <div class="row">
            <div class="col-md-1">
              <h4>60 Min.</h4>
            </div>
            <div class="col-md-11">
              {{#each reservation in reservationsNext60Min}}
              <div class="row">
                <div class="col-md-12">
                  <div class="well reservation">
                    <h4>{{reservation.name}}</h4>
                    Pick up: {{reservation.formattedStartTime}}
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h3>Vehicles</h3>
      </div>
      {{#each vehicle in vehicles}}
        {{vehicle-status vehicle=vehicle action="editVehicle"}}
      {{/each}}
    </div>
  </div>
</div>
