<form role="form" {{action "findVehicle" on="submit"}}>
  <p>Scan a vehicle identifier</p>
<div class="row">
  <div class="col-sm-12">
    {{scan-image text="Scan License Plate" type="license" action="imageScanned"}}
  </div>
</div>
<div class="row voffset">
  <div class="col-sm-12">
    {{scan-image text="Scan MVA ID" type="mva" action="imageScanned"}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    &nbsp;
  </div>
</div>

<div class="horizontal-line">
  <span>
    &nbsp;or&nbsp;
  </span>
</div>

<div class="row">
  <div class="col-sm-12">
    &nbsp;
  </div>
</div>

<div class="row voffset">
  <div class="col-sm-12">
    Enter identifier manually
    {{input value=scannedText class="form-control input-lg input-block" }}
    {{view "select" content=inputTypes
        optionLabelPath="content.text"
        optionValuePath="content.id"
        selection=selectedType
        class="form-control input-lg input-block voffset"
        }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Find Vehicle" />
  </div>
</div>

</form>
