{{back-navigation currentUser=currentUser}}
{{outlet}}
<h2 id='title'>Vehicle Status</h2>

<form class="form-horizontal">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">{{vehicle-element title="VIN" elem=vin}}</li>
        <li class="list-group-item">{{vehicle-element title="License" elem=license}}</li>
        <li class="list-group-item">{{vehicle-element title="MVA" elem=mvaId}}</li>
        <li class="list-group-item">{{vehicle-element title="Make" elem=make}}</li>
        <li class="list-group-item">{{vehicle-element title="Model" elem=vehicle_model}}</li>
        <li class="list-group-item">{{vehicle-element title="Color" elem=color}}</li>
        <li class="list-group-item list-group-item-info">{{vehicle-element title="Current Fleet" elem=current_fleet}}</li>
        <li class="list-group-item">{{ready-indicator vehicle=model action="sendToAvis"}}</li>
      </ul>
    </div>
  </div>
</form>
