{{outlet}}
<h2 id='title'>Vehicle Status</h2>

<form class="form-horizontal">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">{{vehicle-element title="VIN" elem=model.vin}}</li>
        <li class="list-group-item">{{vehicle-element title="License" elem=model.license}}</li>
        <li class="list-group-item">{{vehicle-element title="MVA" elem=model.mvaId}}</li>
        <li class="list-group-item">{{vehicle-element title="Make" elem=model.make}}</li>
        <li class="list-group-item">{{vehicle-element title="Model" elem=model.model}}</li>
        <li class="list-group-item">{{vehicle-element title="Color" elem=model.color}}</li>
        <li class="list-group-item list-group-item-info">{{vehicle-element title="Current Fleet" elem=model.currentFleet}}</li>
        <li class="list-group-item">
          <label class="control-label" for=elem>Vehicle on the line</label>
          {{bs-switch name="vehicle-online"
                      btnSize="small"
                      status=model.online}}
        </li>
        <li class="list-group-item">{{ready-indicator vehicle=model action="sendToAvis"}}</li>
      </ul>
    </div>
  </div>
</form>
